<p id="notice"><%= notice %></p>

<h1><%= number_with_delimiter @count %> Words 
<%= link_to "+", new_word_path, class:"btn-floating btn-large waves-effect waves-light blue right",  title:"Add New Word" %>
  

</h1>

<%== pagy_materialize_nav(@pagy) %>
<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Score</th>
      <th>Source</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.word, "https://www.xwordinfo.com/Finder?word=#{word.word}" %></td>
        <td><%= word.score %></td>
        <td><%= if word.source 
          link_to word.source.name, word.source 
        end
        %></td>

        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><%== pagy_materialize_nav(@pagy) %> <br />

