<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>
<%if @word.word != @word.original_word %>
<p>
  <strong>Original Word:</strong>
  <%= @word.original_word %>
</p>
<% end %>

<p>
  <strong>Anagrams:</strong>
    <% @word.anagrams.each do |anagram| %>
      <%= anagram.word %> 
    <% end %>

<p>
  <strong>Score:</strong>
  <%= @word.score %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
