<!DOCTYPE html>
<html>
  <head>
    <title>Wordlister</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  <div class="container">
    <nav>
    <div class="nav-wrapper">
    <%= link_to "Wordlister", words_path, class:"brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Home", words_path %>
        <li><%= link_to "Tools", tools_path %>
      </ul>
    </div>
  </nav>
    <div class="col s8 input-field">
    <%= form_tag words_path, method: :get do %>
      <%= text_field_tag 'term', params[:term], placeholder: "Search"  %>
      <%= submit_tag 'Search', class: "btn waves-effect waves-light float-right"%>
    <% end %>
    </div>

    <%= yield %>
  </div>
  </body>
</html>
